<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
      <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <center>
<div class="top" id="fhead">
  <h2>Sticky Notes</h2>
</div>
<center>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
